$mainBg: #10162f;
$navBg: #141e3b;
$inputBg: #18264f;
$btnBg: #141e3b;
$btnBorder: #2d5dcc;
$headerHeight: 60px;

* {
  font-family: 'Work Sans', sans-serif;
  color: #fff;
}

body {
  margin: 0;
  background: $mainBg;
}

.app {
  height: 100%;
  color: white;

  .news-container {
    display: flex;
    margin-left: -30px;
    /* gutter size offset */
    width: auto;
    padding: 10px;

    .col {
      padding-left: 30px;
      /* gutter size */
      background-clip: padding-box;

      .article {
        background: $navBg;
        border-radius: 10px;
        margin-bottom: 30px;

        .img {
          img {
            border-radius: 10px 10px 0 0;
            width: 100%;
          }
        }

        .info {
          padding: 5px;
          margin: 5px;

          .title {
            font-size: 16px;
          }
        }
      }
    }
  }

  .btn {
    border: none;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid $btnBorder;
    width: 70px;
    background: $btnBg;
    color: #fff;
    font-weight: 700;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  nav {
    display: flex;
    align-items: end;
    justify-content: left;
    background: $navBg;
    min-height: 60px;
    padding: 10px;
    height: $headerHeight;
    position: sticky;
    top: 0;

    a {
      color: white;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: normal;
      list-style: none;

      li {
        margin-left: 5px;
      }
    }

    h1 {
      letter-spacing: 20px;

      &:hover {
        color: $btnBorder;
      }
    }
  }

  .main-container {
    padding: 20px 10px;

    .form-container {
      .input-item {
        input {
          padding: 10px;
          border-radius: 20px;
          border: none;
          background: $inputBg;
          margin-right: 10px;
          color: white;
          font-size: 1.2em;
          min-width: 300px;
          border: 1px solid $btnBorder;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .todos-container {
      .item {
        padding: 5px 10px;
        background: $inputBg;
        margin: 10px 0;
        border-radius: 50px;
        border: 1px solid $btnBorder;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .todos {
        img {
          width: 100px;
        }
      }
    }

    .todones-container {
      .item {
        padding: 5px 10px;
        background: $inputBg;
        margin: 10px 0;
        border-radius: 50px;
        border: 1px solid $btnBorder;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          text-decoration: line-through;
          opacity: 0.5;
        }
      }
    }
  }
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: yellow;
  border-radius: 50% 10%;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}